<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
      {% if session["user_id"] %}
        <div class="header">
          <div class="left">
            <div class="logo">
              CuisineCraft
            </div>
          </div>
          <div class="right">
            <ul class="links">
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      {% else %}
        <div class="header">
          <div class="left">
            <div class="logo">
              CuisineCraft
            </div>
          </div>
          <div class="right">
            <ul class="links">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </div>
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </body>

</html>
