<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <title>CusineCraft</title>
    </head>

    <body>
      <div class="header">
        <div class="left">
          <div class="logo">
            CuisineCraft
          </div>
        </div>
        <div class="right">
          <ul class="links">
            <li><a href="google.com">Login</a></li>
            <li><a href="google.com">Register</a></li>
          </ul>
        </div>
      </div>
        {% block content %}
        {% endblock %}
    </body>

</html>
