{% extends "base.html" %}

{% block content %}
    <form action="/update_password" method="post">
        <div class="mb-3">
            <input class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control" id="old_password" name="old_password" placeholder="Old Password" type="old_password">
        </div class="mb-3">
        <div class="mb-3">
            <input class="form-control" id="new_password" name="new_password" placeholder="New Password" type="new_password">
        </div class="mb-3">
        <div class="mb-3">
            <input class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm New Password" type="confirm_password">
        </div class="mb-3">

        <button class="btn btn-primary" type="submit">Change password</button>

    </form>
{% endblock %}