{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block login_style %}

<link href = "/static/login.css" rel = "stylesheet">

{% endblock %}

{% block content %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div class="mb-3">
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <form action ="/change_password" method = "get" >
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}